#block{
    margin:auto;
    text-align: center;
    border: 3px solid #BDBDBD;
    min-width: 15%;
}
#block *{
    display: block;
}
body{
    background: #03A9F4;
    color:#212121;
}
#messages {
    background: #FFFFFF;
    overflow:scroll;
    display:block;
    margin: 0;
    padding: 0;
    width:100%;
    max-height:80vh;
    border:3px solid #BDBDBD;
    min-height: 80vh;
    font-size: 4vh;
}
#new-message{
    min-height: 10vh;
    width:100%;
    font-size: 4vh;
    margin: 1;
    padding: 0px;
    border:3px solid #BDBDBD;
    resize: none;
    
}
#user-header{
    display: inline;
}
.form{
    margin: auto;
    top: 50%;
    width:60%;
    height: 12em;
    padding: 10px;
    border: 3px solid #BDBDBD;
    background: #39F;
    text-align: center;
}
.form *{
    margin: auto;
    scale: 2px;
    display: block;
}

#login-form *{
    margin: auto;
}
