
#block *{
    display: block;
}
body{
    background: #03A9F4;
    color:#212121;
}
#messages {
    background: #FFFFFF;
    overflow:scroll;
    display:block;
    margin: 0;
    padding: 0;
    width:100%;
    max-height:80vh;
    border:3px solid #BDBDBD;
    min-height: 80vh;
    font-size: 4vh;
}
#new-message{
    min-height: 10vh;
    width:100%;
    font-size: 4vh;
    margin: 1;
    padding: 0px;
    border:3px solid #BDBDBD;
    resize: none;
    
}
#user-header{
    display: inline;
}